body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(235, 235, 152), rgb(235, 151, 235));
}

h1{
    color: blue;
    font-weight: bold;
}